<div class="container">
  <div class="product" *ngIf="!addMode && !editMode">
    <div class="title">
      <button class="btn" (click)="addMode ? addMode = false : addMode = true">Добавить</button>
      <span class="cat-title">Товары</span>
      <app-preloader class="prod-preloader" *ngIf="!request"></app-preloader>
    </div>
    <table border="1px solid black">
      <tr>
        <th *ngFor="let order of colums">
          <a href="#" class="th-order"
             [routerLink]="[{order: order.name,
             direction: params.direction === 'ASC' ? 'DESC' : 'ASC',
             page: params.page}]" >{{order.value}}
            <ng-container *ngIf="params.order === order.name">
              <span *ngIf="params.direction === 'ASC'">▲</span>
              <span *ngIf="params.direction === 'DESC'">▼</span>
            </ng-container>
          </a>
        </th>
        <th>действие</th>
      </tr>
      <ng-container *ngFor="let prod of productsArray">
        <tr>
          <td>{{prod.id}}</td>
          <td>{{prod.name}}</td>
          <td>{{prod.producer.name}}</td>
          <td>{{prod.category.name}}</td>
          <td>{{prod.price}}</td>
          <td>{{prod.amount}}</td>
          <td class="td-buttons">
            <button class="btn" (click)="editMode ? editMode = false : editMode = prod.id">E</button>
            <button  class="btn" (click)="onDelete(prod.id)">X</button>
          </td>
        </tr>
      </ng-container>
    </table>

    <app-paginator class="prod-paginator" *ngIf="paginationData" [data]="paginationData"></app-paginator>

  </div>

  <app-product-add *ngIf="addMode"  (adding)="updateProducts();addMode = false"></app-product-add>
  <app-product-edit *ngIf="editMode" [prodId]="editMode"  (editing)="updateProducts();editMode = false"></app-product-edit>

  <div class="error" *ngIf="errors">
    <p>{{errors.error}}</p>
  </div>
</div>
