header{
  padding: 20px 0;
}
.header{
  display:flex;
  justify-content: space-between;
}
.logo{
  width: 80px;
  height: 50px;
  background: #45acc8;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  margin-left: 20px;
}
.logo > a{
  font-family: 'Montserrat', sans-serif;
}
.nav > ul{
  display: flex;
}
.phones li:not(:last-child){
  margin-right: 40px;
}
.navigation li:not(:last-child){
  margin-right: 20px;
}
.navigation li{
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
.navigation li:hover{
  color: #45acc8;
}
