
span{
  margin-right: 20px;
}
table{
  width: 100%;
}
.container{
  min-height: 100%;
}
table{
  width: 100%;
}
.container{
  position: relative;
  padding: 10px;
}
.container{
  background: #cff4ff;
}
.td-buttons{
  text-align: center;
}
.prod-preloader{
  display: inline-block;
  vertical-align: top;
}
.attribute{
  position: relative;
}

